<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PetaniKita.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7B35E0B2A42F38700B6BA8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7B35E1B2A42F38A00B6BA8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7B35E252A42F38A00B6BA8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
